<!DOCTYPE html>
<html lang="fr">

<head>

    <title>GPAO - Nouveau projet</title>

    <%- include ("../../views/partials/head") %>

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <%- include ("../../views/partials/menu/sidebar") %>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Nouveau projet</h1>
          </div>

          <%- include ("../../views/partials/menu/topbar") %>

          <!-- Content Row -->
          <div class="row">

            <%- include ("create_project") %>


          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <%- include ("../../views/partials/footer") %>

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Custom scripts for all pages-->
  <script src="/js/sb-admin-2.min.js"></script>
</body>
</html>